*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/drawable/
openCVLibrary2410/build/generated/assets/
openCVLibrary2410/build/generated/res/
openCVLibrary2410/build/generated/source/aidl/androidTest/
openCVLibrary2410/build/generated/source/apt/
openCVLibrary2410/build/generated/source/rs/
openCVLibrary2410/build/intermediates/bundles/debug/aidl/
openCVLibrary2410/build/intermediates/bundles/debug/assets/
openCVLibrary2410/build/intermediates/bundles/release/aidl/
openCVLibrary2410/build/intermediates/bundles/release/assets/
openCVLibrary2410/build/intermediates/bundles/release/jni/
openCVLibrary2410/build/intermediates/bundles/release/libs/
openCVLibrary2410/build/intermediates/dependency-cache/
openCVLibrary2410/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
openCVLibrary2410/build/intermediates/incremental/packageDebugAndroidTest/
openCVLibrary2410/build/intermediates/incremental/packageDebugResources/aapt-temp/
openCVLibrary2410/build/intermediates/incremental/packageReleaseResources/aapt-temp/
openCVLibrary2410/build/intermediates/incremental/processDebugAndroidTestResources/
openCVLibrary2410/build/intermediates/incremental/processDebugResources/
openCVLibrary2410/build/intermediates/incremental/processReleaseResources/
openCVLibrary2410/build/intermediates/jniLibs/
openCVLibrary2410/build/intermediates/lint/
openCVLibrary2410/build/intermediates/manifest/tmp/
openCVLibrary2410/build/intermediates/rs/
openCVLibrary2410/build/intermediates/shaders/
openCVLibrary2410/build/intermediates/transforms/
openCVLibrary2410/build/tmp/
